# App
MIX_ENV=prod
PHX_HOST=localhost
PHX_SCHEME=http
PORT=4000
POOL_SIZE=10
SECRET_KEY_BASE=change_me
LIVEBOOK_APPS_BASE_URL=https://your-livebook-host/apps
GITHUB_TOKEN=

# DB (local container)
POSTGRES_USER=izihub
POSTGRES_PASSWORD=izihub
POSTGRES_DB=izihub_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
SSL=false

DATABASE_URL=ecto://izihub:izihub@db:5432/izihub_db

# Optional SMTP (future)
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PORT=587
